* {
     box-sizing: border-box !important;
     margin: 0 !important;
     padding: 0 !important;
 }

body, html {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    font-family: "Arial Rounded MT Bold" !important;
    /*background-color: #FCF9EA !important;*/
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 auto !important;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
}

#app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 35em;
    overflow-y: scroll;
    background-color: #FCF9EA !important;
    box-shadow: 0 0 7px #636161;
}

.swiping, .matches {
    height: 90%;
    width: 100%;
}

.profile {
    /* background-image: url("joey.jpg"); */
    /*background-size: cover;*/
    /*background-position: center;*/
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    height: 70%;
    width: 100%;
    max-width: 100%;
}

.profile-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0px 3px 3px grey;
}

.name-age {
    color: #badfdb;
    font-size: 2vh;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 18%;
}

.name-age h1 {
    margin: 0 auto !important;
    padding-left: .2em !important;
    padding-top: .7em !important;
}

.name-age h2 {
    margin: 0 auto !important;
    padding-bottom: .2em !important;
    padding-left: .2em !important;
}

.profile h2 {
    opacity: 0.8;
    font-size: 2.5em;
}
.nav-bar {
    display: flex;
    justify-content: space-between;
    /*align-items: center;*/
    height: 5em;
    width: 100%;
    padding: 0.3em !important;
}

.logo {
    height: 4em;
    width: 6em;
    color: #badfdb;
}
.logo-image {
    height: 4em;
    width: 100%;
}

.profile-icon {
    height: 4em;
}

.match-icon, .setting-icon {
    height: 4em;
}

.action {
    display: flex;
    height: 12%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0.3em !important;
}

.like, .pass {
    height: 100%;
}

.reverse {
    height: 60%;
}

.profileInfo {
    color: #ffc5a1;
    width: 100%;
    height: 70%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    border: 2px solid;
    font-size: 2vh;
    border-radius: 15px;
    box-shadow: 0px 3px 3px grey;
    padding: .7em !important;
}

.profileInfo h2 {
    color: #f8a978;
}

.matches {
    display: flex;
    flex-direction: column;
}

.my-matches {
    color: #f8a978;
    font-size: 2vh;
    height: 10%;
    padding-bottom: .2em !important;
    padding-left: 1.2em !important;
    padding-top: .2em !important;
    display: flex;
    align-items: center;
}

.match-list {
    height: 100%;
    color: #ffc5a1;
}

.match-list ul {
    list-style: none;
    padding: 0 !important;
}

.match-list li {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 20%;
    font-size: 2.5vh;
    border: 1px solid #f8a978;
    margin-bottom: -1px !important;
    margin-top: -1px !important;
}

.match-list p {
    margin-left: 1.2em;
    margin-top: 0;
    margin-bottom: 0;
}

.image-icon {
    width: 5em;
    height: 5em;
}

.empty {
    height: 100%;
    width: 20%;
}

.user-profile, .settings {
    width: 100%;
    height: 100%;
    color: #f8a978;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1em !important;
}

.my-pictures {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.my-pictures img {
    height: 100%;
    width:25%;
}

.user-form, .settings-form {
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.user-form textarea, .settings-form textarea {
    width: 100%;
    border: 1px solid #ffc5a1;
    border-radius: 15px;
    padding: 0.7em !important;
    margin-top: .5em !important;
    margin-bottom: .5em !important;
    font-family: "Arial Rounded MT Bold";
    font-size: small;
    color: #ffc5a1;
    background-color: #FCF9EA;
    text-align: start;
}

.save-logout {
    margin-bottom: 1em !important;
}

.submit {
    width: 50%;
    align-self: center;
    border-radius: 15px;
    text-align: center;
    margin: .7em auto !important;
}

.submit input {
    height: 2em;
    width: 100%;
    border: 1px solid #ffc5a1;
    border-radius: 15px;
    font-family: "Arial Rounded MT Bold";
    font-size: medium;
    color: #f8a978;
    background-color: #badfdb91;
    text-align: center;
    margin: .5em;
}

::placeholder {
    color: #8bd6ce;
    opacity: 0.5;
    font-style: italic;
}

textarea:focus::placeholder{
    color:transparent;
}

.age-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.age-name div {
    margin: .8em !important;
    flex-direction: column;
    align-items: center;
}

.login {
    height: 90%;
    width: 100%;
    padding: 1em !important;
    display: flex;
    flex-direction: column;
    color: #f8a978;
    overflow-y: scroll;
}

.login form {
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: #f8a978;
}

.form-group {
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    width: 100%;
}

.form-group input {
    height: 2em;
    width: 100%;
    border: 1px solid #ffc5a1;
    border-radius: 15px;
    font-family: "Arial Rounded MT Bold";
    font-size: medium;
    color: #ffc5a1 !important;
    padding: .2em !important;
    margin-top: 1em !important;
    margin-bottom: 1em !important;
    background-color: #FCF9EA !important;
}

.form-group h4 {
    text-align: initial;
}

.meet-dogs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 1em !important;
}

.meet-dogs img {
    height: 10em;
    width: 10em;
    border-radius: 15px;
    box-shadow: 0px 3px 3px grey;
}

.bottom-signin {
    text-align: center;
    align-items: center;
}

.signup {
    width: 100%;
    height: 90%;
    padding: 1em;
    display: flex;
    flex-direction: row;
    color: #f8a978;
    overflow-y: scroll;
}

.signup-transitions {
    width: 100%;
    padding: 1em;
    display: flex;
    flex-direction: row;
    color: #f8a978;
    overflow: scroll;
}

.signup form {
    height: 70%;
    width: 70%;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: #f8a978;
}

.signup-user-profile {
    width: 100%;
    color: #f8a978;
    display: flex;
    padding: 1em !important;
    flex-direction: column;
    justify-content: space-around;
}

.signup-user-profile h2 {
    margin: .7em;
}

.previous-next {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 1em !important;
}

.uploaded-image {
    margin: 2em !important;
    border-radius: 15px;
    box-shadow: 0px 3px 3px grey;
}

.uploaded-image img {
    height: 100%;
    width: 100%;
    border-radius: 15px;
}

.upload {
    width: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.image-form {
    height: 70% !important;
    width: 100% !important;
    padding: 1em !important;
}

button {
    font-family: inherit !important;
    color: #f8a978;
    border: 1px solid #f8a978;
    border-radius: 15px !important;
    padding: .7em !important;
    background-color: #badfdb91;
    font-size: large !important;
}

a {
    color: #8bd6ce !important;
    text-decoration: underline !important;
}

a:hover {
    color: #f8a978 !important;
}

.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active
{
    transition: transform 0.5s ease;
}

.slide-left-enter,
.slide-right-leave-active {
    transform: translateX(100%);
    transition: all 200ms ease-in 0s;
}

.slide-left-leave-active,
.slide-right-enter {
    transform: translateX(-100%);
    transition: all 200ms ease-in 0s;
}

.signup-0, .signup-1, .signup-2 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}